#include "passwords.h"

// Example file - ensure you rename to "password.cpp" and update appropriately!


/******************************************************************************
All globals responsible for logon or cloud service API keys are defined here
******************************************************************************/

// *** Wifi Network to join ***************************************************
char    g_wiFiSSID[]                              = "MY_WIFI_NETWORK";
char    g_wiFiPass[]                              = "MY_WIFI_PASSWORD";

// *** Cloud service, Wunderground specifics **********************************
char    g_cloudServiceWeatherUndergroundLogin[]   = "STATIONID";
char    g_cloudServiceWeatherUndergroundPass[]    = "PASSWORD";

// *** Cloud service, PWSWeather specifics ************************************
char    g_cloudServicePwsWeatherId[]              = "STATIONID";
char    g_cloudServicePwsWeatherPassword[]        = "PASSWORD";

// *** Cloud service, WeatherCloud specifics **********************************
char    g_cloudServiceWeatherCloudId[]            = "ID";
char    g_cloudServiceWeatherCloudKey[]           = "APIKEY";

// *** Cloud service, ThingSpeak specifics ************************************
char    g_cloudServiceThingSpeakAPIKey[]          = "APIKEY";
